<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>video</title>
  <link rel="stylesheet" href="style.css">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <style>
      body{
        padding: 2rem 0rem;
      }

      .image-list {
        max-width: 40px;
        max-height: 30px;
        object-fit: cover;
      }
    </style>

</head>


<body class="m-5">
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <button type="button" class="btn btn-outline-dark" onclick="location.href='/'">홈</button>
      <h6 class="text-muted">사람 목록</h6>
      <table class="table">
        <tbody>
        <tr th:each="ward : ${wards}">
          <td><a href="ward.html" th:href="@{|/wards/${ward.id}|}" th:text="${ward.name}">피보호자 이름</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-9">
      <h3>영상</h3>
      <video controls width="900">
        <source src="videos/시연영상.mp4" type="video/mp4">
        브라우저가 mp4파일 비디오를 지원하지않습니다.
        </source>
      </video>
    </div>
  </div>
</div>




</body>
</html>