<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>피보호자 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-dark" onclick="location.href='/'">홈</button>
            <button class="btn btn-outline-dark float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/wards/add}'|"
                    type="button">피보호자 등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>핸드폰 번호</th>
                <th>마지막 추적 시간</th>
                <th>추가사항</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ward : ${wards}">
                <td><a href="ward.html" th:href="@{|/wards/${ward.id}|}" th:text="${ward.id}">피보호자ID</a></td>
                <td><a href="ward.html" th:href="@{|/wards/${ward.id}|}" th:text="${ward.name}">피보호자 이름</a></td>
                <td th:text="${ward.phoneNum}">10000</td>
                <td th:text="${#temporals.format(ward.lastSeen, 'yyyy-MM-dd HH:mm:ss')}">10</td>
                <td th:text="${ward.description}">10</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>